---
---

// override bootstrap variables
$icon-font-path: "{{ site.baseurl }}/assets/fonts/bootstrap/";

//@import "reset";
@import "variables";
@import "bootstrap";


html {
  display: table;
  margin: auto;
}

body {
  display: table-cell;
  vertical-align: middle;
}

.n52-vbottom {
    position: relative;
    top: 100%;
    transform: translateY(-100%); 
}

.n52-navbar-top.navbar-default {
    background-color: #eee;
}

.n52-toplink {
    clear: both;
    margin-top: 20px !important;
}
.n52-toplink a {
    cursor: pointer;
}
.n52-toplink a:hover {
    color: #fff;
    background-color: #999;
}

.n52-sidebar {
  padding-top: 20px;
  border-right: 1px solid #eee;
  text-align: right;
}

.n52-container {
    padding-top: 60px;
}

.n52-content {
  padding-left: 60px;
//  min-width: 800px;
//  max-width: 1000px;
}

/* Base styles (regardless of theme) */
.n52-callout {
  margin: 20px 0;
  padding: 15px 30px 15px 15px;
  border-left: 5px solid #eee;
}
.n52-callout h4 {
  margin-top: 0;
}
.n52-callout p:last-child {
  margin-bottom: 0;
}
.n52-callout code,
.n52-callout .highlight {
  background-color: #fff;
}

.n52-callout-todo,
.n52-callout-todo:before {
  content: "TODO: ";
  background-color: #fcf2f2;
  border-color: #dFb5b4;
}

.n52-callout-info,
.n52-callout-info:before {
  content: "Note: ";
  background-color: #f0f7fd;
  border-color: #d0e3f0;
}

.n52-description-list dt {
    font-weight: bold;
    font-size: larger;
}

.n52-description-list dd {
    text-indent: 1em;
}

footer {
  font-size: small;
  padding: 30px 0;
  margin: 10px 0;
  margin-top: 70px;
  border-top: 1px solid #e5e5e5;
  background-color: #eee;
  height: 100px;
}

footer ul {
  list-style: none;
}

footer div {
  margin-left: 10px;
  margin-right: 10px;
}
.footer-links li:not(:first-child):before {
    // https://brajeshwar.github.io/entities/
    content: " \00b7 \00a0";
}
.footer-links li {
  display: inline;
  margin: 0;
}

/*================================================
  =                 Media Queries                =
  ================================================*/

@media (max-width: 767px) {
    .container {
        max-width: 500px;
    }
    .affix {
        position: static;
    }
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights",
        "swagger";