version: 2
updates:
- package-ecosystem: maven
  directory: "/"
  schedule:
    interval: daily
    time: "04:00"
  open-pull-requests-limit: 10
  ignore:
  - dependency-name: xml-apis:xml-apis
    versions:
    - ">= 2.a, < 3"
  - dependency-name: org.apache.xmlbeans:xmlbeans
    versions:
    - 4.0.0
