/.settings
/target
/timeseries-web/target
/timeseries-io/target
/timeseries-io/.settings
/timeseries-io/*.project
/timeseries-io/*.classpath
/timeseries-web/*.project
/timeseries-web/*
/timeseries-web/*.classpath
/.project
/timeseries-web/.project
/timeseries-web/.settings
/timeseries-web/target
/timeseries-web/.classpath
/timeseries-io/.project
/timeseries-io/.settings
/timeseries-io/target
/timeseries-io/.classpath
