<configuration scan="true">

	<!-- refer to http://logback.qos.ch/manual/appenders.html -->

	<property name="logFile"
		value="${config.logger.fileappender.filepath}/${pom.artifactId}-${project.version}" />

	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${logFile}.log</file>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${logFile}/%d{yyyy-MM-dd}.log</fileNamePattern>
			<!-- keep 30 days' worth of history -->
			<maxHistory>30</maxHistory>
		</rollingPolicy>

		<encoder>
			<pattern>
				%date %level [%thread] [%file:%line] %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>
				%d{HH:mm:ss.SSS} [%thread] %-5level %logger{0} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<logger name="org.n52" level="${config.logger.level}" />
	<logger name="org.n52.oxf" level="${config.logger.level.oxf}" />
	<logger name="org.n52.client" level="${config.logger.level.client}" />
	<logger name="org.n52.server" level="${config.logger.level.server}" />
	
	<logger name="org.geotools" level="WARN" />
	<logger name="org.apache" level="WARN" />
	
	<logger name="com.sun.xml" level="ERROR" />
	<logger name="org.geotools" level="WARN" />
	<logger name="org.springframework.web.servlet.mvc.method.annotation" level="WARN" />
	<logger name="org.jboss.logging" level="WARN" />

	<root level="INFO">
		<appender-ref ref="FILE" />
		<appender-ref ref="STDOUT" />
	</root>
</configuration>